body {
    background-color: #00ffe73b;
}
.container {
    text-align: center;
    h1 {
        color: blueviolet;
    }
    p {
        font-size: 20px;
        color: blueviolet;
    }
    button {
        background-color: #bb4fd9;
        padding: 10px 20px;
        margin: 0 10px;
        color: white;
        border: 0px;
        border-radius: 8px;
    }
    .transcript {
        color: blueviolet;
        width: 30%;
        margin: 30px auto;
    }
}
